@charset "UTF-8";html{line-height:1.15;-webkit-text-size-adjust:100%}
body{margin:0},
h1,
a{background-color:transparent},
strong{font-weight:bolder},
img{border-style:none},
input,
button,
button{text-transform:none},
[type=button],
[type=submit]{-webkit-appearance:button},
[type=button]::-moz-focus-inner,
[type=submit]::-moz-focus-inner{border-style:none;padding:0},
[type=button]:-moz-focusring,
textarea{overflow:auto},
[type=radio]{box-sizing:border-box;padding:0},
[type=number]::-webkit-outer-spin-button{height:auto},
[type=search]::-webkit-search-decoration{-webkit-appearance:none},
[hidden]{display:none},
@media(min-width:375px){
:root{--vw:375},
}
@media(min-width:425px){
}
@media(min-width:768px){
:root{--vw:768},
}
@media(min-width:1024px){
}
@media(min-width:1280px){
:root{--vw:1280},
}
.contact__email-option-copy--active i:after,
.review__figure-image,
.step__figure,
.gallery__items,
.image,
.box.bg,
.button,
.bg,
table,
.body-menu--sticky .menu__subitems{--radius:0.33em;--radius-padding:0em;--diamond:polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);--radius-top:var(--radius-calc);--radius-bottom:var(--radius-calc);--radius-calc:calc((((var(--radius) + var(--radius-padding)) / .7071) - var(--radius-padding)) * .7071);--chamfer:polygon(var(--radius-top) 0%,calc(100% - var(--radius-top)) 0%,100% var(--radius-top),100% calc(100% - var(--radius-bottom)),calc(100% - var(--radius-bottom)) 100%,var(--radius-bottom) 100%,0% calc(100% - var(--radius-bottom)),0% var(--radius-top));--radius-outline:calc((((var(--radius) + var(--outline)) / .7071) - var(--outline)) * .7071);--chamfer-outline:polygon(var(--radius) 0%,calc(100% - var(--radius)) 0%,100% var(--radius),100% calc(100% - var(--radius)),calc(100% - var(--radius)) 100%,var(--radius) 100%,0% calc(100% - var(--radius)),0% var(--radius),var(--radius) 0%,var(--radius-outline) var(--outline),var(--outline) var(--radius-outline),var(--outline) calc(100% - var(--radius-outline)),var(--radius-outline) calc(100% - var(--outline)),calc(100% - var(--radius-outline)) calc(100% - var(--outline)),calc(100% - var(--outline)) calc(100% - var(--radius-outline)),calc(100% - var(--outline)) var(--radius-outline),calc(100% - var(--radius-outline)) var(--outline),var(--radius-outline) var(--outline));--chamfer-int-outline:polygon(var(--radius-outline) var(--outline),var(--outline) var(--radius-outline),var(--outline) calc(100% - var(--radius-outline)),var(--radius-outline) calc(100% - var(--outline)),calc(100% - var(--radius-outline)) calc(100% - var(--outline)),calc(100% - var(--outline)) calc(100% - var(--radius-outline)),calc(100% - var(--outline)) var(--radius-outline),calc(100% - var(--radius-outline)) var(--outline));--outline-diamond:calc(var(--outline) / .7071);--diamond-outline:polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%,50% 0%,50% var(--outline-diamond),var(--outline-diamond) 50%,50% calc(100% - var(--outline-diamond)),calc(100% - var(--outline-diamond)) 50%,50% var(--outline-diamond))},
:before,
html{font-size:calc(clamp(min(16,18),((18 - 16)/var(--run)) * (var(--vw) - var(--vw-min)) + 16,max(16,18)) * 1px);scroll-behavior:smooth;font-family:montserrat;font-style:normal;font-weight:400;line-height:1.25;overflow-x:hidden},
a{color:var(--link);text-decoration:none;cursor:pointer;background-image:linear-gradient(180deg,transparent calc(100% - var(--outline)),var(--link) 0);background-repeat:no-repeat;background-size:0 100%;transition:background-size,
a:hover,
a:active{color:var(--active)},
.button--font-alt:not(.button,button)>i{font-family:montserrat;font-style:normal;font-weight:400;line-height:1.25;font-family:montserrat;font-style:normal;font-weight:800;line-height:1.25;font-size:1em},
s{color:var(--subtitle)},
picture,
picture[style]{background-image:var(--pre-bg)},
p:last-child{margin-bottom:0},
h1,
.h0,
h3,
.h4,
.h6{font-family:montserrat;font-style:normal;font-weight:800;line-height:1.25;font-size:1em;display:block;margin-top:0;margin-bottom:1rem;color:var(--title,#282525);--fhs-pre:calc(clamp(min(-0.7, 0.3), ((0.3 - -0.7) / var(--run)) * (var(--vw) - var(--vw-min)) + -0.7, max(-0.7, 0.3)) * 1cqw);--fhs:calc(var(--fhs-pre) * var(--hs, 1) + var(--hs, 1) * 1 * 1em);font-size:var(--fhs)},
.h1:last-child,
h2:last-child,
h3:last-child,
.h4:last-child,
.h6:last-child{margin-bottom:0},
.h1,
h2,
h3,
.h4{--hs:1.4},
.h6{--hs:1},
section{position:relative;padding-top:3em;padding-bottom:3em},
input:not([type=checkbox],[type=radio],[type=hidden]),
textarea{--outline:1px;display:block;padding:.5625em 1em .84375em;background-color:transparent;border:var(--outline)solid transparent;border-bottom:var(--outline)solid var(--border);outline:none;transition:border .1s;font-weight:400;color:inherit},
textarea:focus{border-color:var(--main)},
input:not([type=checkbox],[type=radio],[type=hidden])::placeholder,
input:not([type=checkbox],[type=radio],[type=hidden]){height:2.5em},
[type=radio],
[type=radio]:checked,
[type=radio]:before,
[type=checkbox]:before{content:'';width:.7em;height:.7em;clip-path:polygon(14% 44%,0 65%,50% 100%,100% 16%,80% 0%,43% 62%);transform:scale(0);transform-origin:bottom left;transition:.12s transform ease-in-out;box-shadow:inset 1em 1em var(--form-control-color);background-color:CanvasText},
[type=checkbox]:checked:before{transform:scale(1)},
[type=checkbox]:focus{outline:Max(2px,.15em)solid var(--main);outline-offset:Max(2px,.15em)},
[type=checkbox]:disabled{--form-control-color:var(--form-control-disabled);color:var(--form-control-disabled);cursor:not-allowed},
table{clip-path:var(--chamfer);border-collapse:collapse;word-break:normal;max-width:100%;color:var(--title);overflow-x:auto;display:block;margin-right:auto},
table:not(.table-sm,.container.bg *,.boxes *){max-width:calc(clamp(min(375,1440),((1440 - 375)/var(--run)) * (var(--vw) - var(--vw-min)) + 375,max(375,1440)) * 1px);margin-inline:calc(var(--container-margin-side) + 2em)},
th:first-child,
th:first-child:after,
tr{background-color:var(--bg-color)},
tr:hover{color:var(--active-text);background-color:var(--active)},
thead tr svg{fill:var(--main-text)},
iframe:not(#aux){border:none;object-fit:initial},
:not(pre)>code{background-color:var(--main);color:var(--main-text);padding:0 .3em;border-radius:.1em},
:not(pre)>code>svg{color:inherit},
[data-more]{position:relative},
[data-more] i{position:absolute;top:0;left:0;width:100%;height:100%;text-indent:-1000vw;z-index:-1},
[id]:not(.divider,.modal){scroll-margin-top:3em},
#search__form~section{display:none},
.compare [href="/draws.svg#check"]{color:green;fill:green},
@keyframes menu-bar-1{0%{transform:rotate(-45deg)}50%{transform:none}100%{transform:translateY(-.5em)}}
@keyframes menu-bar-2{0%,50%{background-color:transparent}}
@keyframes menu-bar-3{0%{transform:rotate(45deg)}50%{transform:none}100%{transform:translateY(.5em)}}
@keyframes menu-bar-active-1{0%{transform:translateY(-.5em)}50%{transform:none}100%{transform:rotate(-45deg)}}
@keyframes menu-bar-active-2{50%,100%{background-color:transparent}}
@keyframes menu-bar-active-3{0%{transform:translateY(.5em)}50%{transform:none}100%{transform:rotate(45deg)}}
@keyframes copied{0%{opacity:0;transform:translateX(-50%);visibility:visible}50%{opacity:1;transform:translateY(-1em)translateX(-50%);visibility:visible}99%{opacity:0;transform:translateY(-2em)translateX(-50%);visibility:visible}100%{visibility:hidden}}
:root{--show-from:translateY(3rem)},
@keyframes show-from{0%{transform:var(--show-from);opacity:0}100%{transform:none;opacity:1}}
@keyframes spin{to{transform:rotate(360deg)}}
@keyframes awesome-rotate{0%{transform:perspective(600px)rotateY(30deg)rotateZ(-5deg)}100%{transform:perspective(600px)rotateY(-30deg)rotateZ(5deg)}}
@keyframes draw{5%,20%{fill-opacity:0;stroke-opacity:1;stroke-width:.125em}0%,25%,100%{fill-opacity:1;stroke-opacity:0;stroke-width:0}.01%,5%{stroke-dashoffset:800%}0%,50%,100%{stroke-dashoffset:0%}}
.sl-wrapper *{box-sizing:border-box},
.sl-wrapper button:hover{opacity:.7},
.sl-wrapper .sl-navigation button{position:fixed;top:50%;margin-top:-22px;height:44px;width:22px;line-height:44px;text-align:center;display:block;z-index:10060;font-family:Arial,
.sl-wrapper .sl-navigation button.sl-next{right:5px;font-size:2rem},
@media(min-width:35.5em){
.sl-wrapper .sl-navigation button{width:44px},
.sl-wrapper .sl-navigation button.sl-prev{left:10px;font-size:3rem},
}
@media(min-width:50em){
.sl-wrapper .sl-navigation button.sl-next{right:20px;font-size:3rem},
}
.sl-wrapper .sl-image img{margin:0;padding:0;display:block;border:0;width:100%;height:auto},
@media(min-width:35.5em){
}
@media(min-width:50em){
.sl-wrapper .sl-image img{border:0},
}
@media(min-width:35.5em){
.sl-wrapper .sl-image iframe{border:0},
}
@media(min-width:50em){
}
.sl-spinner{display:none;border:5px solid #333;border-radius:40px;height:40px;left:50%;margin:-20px 0 0 -20px;opacity:0;position:fixed;top:50%;width:40px;z-index:1007;animation:pulsate 1s ease-out infinite},
@keyframes pulsate{0%{transform:scale(.1);opacity:0}50%{opacity:1}100%{transform:scale(1.2);opacity:0}}
.bg-main-dark{--bg-rgb:76,
.bg-white{--bg-rgb:255,
.bg-light{--bg-rgb:238,
.bg-dark{--bg-rgb:40,
.bg{--bg-color:rgba(var(--bg-rgb), var(--color-opacity, 1))},
.bg{position:relative},
.bg-figure{overflow:hidden},
.bg-figure-image img{display:block;width:100%;height:100%;object-fit:cover;object-position:center},
html,
.bg-main-dark,
.bg-light,
.bg-white:not([class*=bg-gradient]){--text:#767676},
.bg-main-dark{--text:#fff;--title:#fff;--subtitle:#fff;--border:#f7fafd;--tr2:var(--dark);--tr2-text:var(--dark-text)},
.bg-light{--light:#fff},
.bg-main-dark,
.bg-white,
button,
.link{--base:var(--link);--base-text:var(--link-text)},
.main{--base:var(--main);--base-text:var(--main-text)},
:root{--pt:5em;--pb:5em},
.pb-divider{--pb-divider:var(--divider-height)},
.divider{margin-top:calc(var(--divider-height) * -1);--divider-gradient:linear-gradient(black, black)},
.divider--next{--divider-size:1;--divider-width:calc(var(--divider-height) * 8 * var(--divider-size));--divider-left:calc(((100cqw - var(--divider-width)) / 2) + var(--divider-width) / (var(--divider-size) * 2) * (var(--divider-size) - 1));--divider-top:1px;--divider-position:var(--divider-left) var(--divider-top)},
.divider--next{--divider-next-size:1;--divider-next-width:calc(var(--divider-height) * 8 * var(--divider-next-size));--divider-next-left:calc(((100cqw - var(--divider-next-width)) / 2) + var(--divider-next-width) / (var(--divider-next-size) * 2) * (var(--divider-next-size) - 1));--divider-next-top:calc(100% - 1px);--divider-next-position:var(--divider-next-left) var(--divider-next-top)},
.divider--next{--divider-mask-image:var(--divider),
100% calc(100% - var(--divider-height) * 2),
.divider--next:not(.divider){--divider-mask-image:var(--divider-gradient),
.divider.ph,
.divider--next.ph,
.divider--size{--divider-size:2},
.container{text-align:center},
.align-center .logo__link,
.align-center .box__title,
.align-left{text-align:left},
.align-left .box__icon--bottom,
.align-left .buttons{justify-content:flex-start},
.align-left .box__icon--top{margin-left:0},
.align-self-center{align-self:center},
@media(min-width:1280px){
.align--xl-right .box__icon--bottom,
.align--xl-right .buttons{justify-content:flex-end},
.align--xl-right .box__icon--top{margin-right:0},
}
.subtitle{font-family:dancing script;font-style:normal;font-weight:400;line-height:1.25;font-size:1em;display:block;font-size:1.2em;color:var(--subtitle)},
.subtitle:not(strong,a){position:relative;top:0},
.subtitle:not(strong,a)>svg{margin-top:0},
.uppercase{text-transform:uppercase},
.underline:after{content:'';display:block;width:2em;height:.25rem;background-color:var(--main);margin:.125em auto .25em;--radius:0.125rem;clip-path:var(--chamfer)},
.underline *,
.align-left .underline:after{margin-left:0},
@media(min-width:1280px){
}
.description iframe:not(.description__figure *){filter:drop-shadow(.15rem .15rem 0 rgba(0,0,0,.15))},
.description__heading a{color:inherit},
.description__heading.underline{margin-bottom:0},
.description__heading.underline:after{display:inline-block;margin:0;position:relative;top:-.625em},
.description a:not(.box,.button,button,.description__heading>*),
.description [data-b]:not(.box,.button,button,.description__heading>*){font-family:montserrat;font-style:normal;font-weight:400;line-height:1.25;font-family:montserrat;font-style:normal;font-weight:800;line-height:1.25;font-size:1em;line-height:1.25},
.description h2:not(:first-child),
.description h3:not(:first-child),
.description .h3:not(:first-child),
.description .h4:not(:first-child),
.description h6:not(:first-child),
.description ul,
.description ul:last-child,
.description ul p,
.description ul>li,
.description ul>li>*,
.description ul>li:before,
.description ol>li:before,
.description ul>li:before,
.description ul>li.li-svg:before,
.description ol>li.li-svg:before{content:""},
.description ol>li>div{padding-top:.75em;padding-left:.5em},
.description ol>li:first-child>div{padding-top:0},
.description ul ol>li:first-child>div,
.description ol ol>li:first-child>div{padding-top:.75em},
.description ol>li:before{content:counter(item)". ";counter-increment:item;white-space:nowrap},
.description blockquote{position:relative;color:var(--subtitle);padding-inline:1.25em;width:fit-content;margin:1em auto 2em},
.description blockquote:not(h1,.h0,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6,.subtitle,.font-base):not(strong,a){position:relative;top:0},
.description blockquote:not(h1,.h0,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6,.subtitle,.font-base):not(strong,a)>svg{margin-top:0},
.description blockquote:not(.quotes,.dittos):after,
.description blockquote:not(.quotes,.dittos):after{content:'”'},
.description blockquote:before{color:var(--main);position:absolute;top:0;left:0},
.description table{margin-bottom:1em},
@keyframes headline-dash{0%{stroke-dasharray:0 1500}20%,80%{stroke-dasharray:1500 1500;opacity:1}100%{opacity:0}}
.description .buttons:not(:last-child){margin-bottom:1.5em},
.description :not(.button,button,li,code)>svg{color:var(--main)},
.description :not(.button,button,li,.sign)>svg{margin-right:.25em},
.description :not(.button,button,li,.sign)>svg:not(:first-child>:first-child){margin-left:.25em},
.description .list-inline{display:flex;flex-wrap:wrap;justify-content:center;gap:1em},
.description .list-inline li:before{content:none},
.description .list-inline li>div{padding:0},
.align-left ol,
ul.align-left,
ul.align-center,
ol.align-center,
table.align-center{margin-left:auto;margin-right:auto},
@media(min-width:1280px){
.align--xl-right ul,
.align--xl-right ul>li,
.align--xl-right ul>li>div,
}
.sitemap-header-link:not([aux]){color:inherit},
.buttons>*:not(.button,button){display:flex;gap:.25em},
.button{color:var(--base-text);background-color:transparent;position:relative;transition:color;background-image:none;border:none;cursor:pointer;display:flex;justify-content:center;align-items:center;gap:.375em;padding:.5em 1.5em;min-height:2.5em;transform:translateY(-.25em);transition:color,
button:before,
button:before,
.button:before,
button>svg,
button>i,
button:after,
button:is(:active,.box:has(>.box__button):not(:has(.box .box__button,>.box__button~.box__button,:is(a,[data-h],[data-b]):not(.box__button))):active>.box__button,.menu__button:where(.menu__item--active>*):not(:hover)),
.button:is(:active,.box:has(>.box__button):not(:has(.box .box__button,>.box__button~.box__button,:is(a,[data-h],[data-b]):not(.box__button))):active>.box__button,.menu__button:where(.menu__item--active>*):not(:hover)){color:var(--base-text);--base:var(--active);--base-text:var(--active-text);filter:none;transform:none},
button:is(:active,.box:has(>.box__button):not(:has(.box .box__button,>.box__button~.box__button,:is(a,[data-h],[data-b]):not(.box__button))):active>.box__button,.menu__button:where(.menu__item--active>*):not(:hover)):after,
.button:is(:active,.box:has(>.box__button):not(:has(.box .box__button,>.box__button~.box__button,:is(a,[data-h],[data-b]):not(.box__button))):active>.box__button,.menu__button:where(.menu__item--active>*):not(:hover)):after{transform:none;box-shadow:0 0 rgba(0,0,0,.15)},
.button--sm>svg{font-size:1.25em},
.button--icon>svg{opacity:1;font-size:2em},
.button--font-alt>i{font-family:montserrat;font-style:normal;font-weight:400;line-height:1.25;text-transform:unset;line-height:1.25},
.button--font-alt:not(.button,button)>i{font-family:montserrat;font-style:normal;font-weight:400;line-height:1.25;font-family:montserrat;font-style:normal;font-weight:800;line-height:1.25;font-size:1em;text-transform:uppercase},
@keyframes callnow{0%,30%,100%{transform:translateY(calc(0em + var(--callnow-caption-top,0em)));opacity:0;visibility:hidden}5%,15%,25%{transform:translateY(calc(-2.25rem + var(--callnow-caption-top,0em)));opacity:1;visibility:visible}10%,20%{transform:translateY(calc(-2rem + var(--callnow-caption-top,0em)));opacity:1;visibility:visible}}
.up{position:fixed;bottom:0;right:0;margin:1em;display:flex;opacity:0;transform:translateY(4em);transition:transform,
body:not(.body-top) .up{opacity:1;transform:translateY(0)},
[data-b]{cursor:pointer},
i[data-h],
i[data-b]{color:var(--link);text-decoration:none;cursor:pointer;background-image:linear-gradient(180deg,transparent calc(100% - var(--outline)),var(--link) 0);background-repeat:no-repeat;background-size:0 100%;transition:background-size,
i[data-h]:hover,
i[data-h]:focus,
i[data-b]:focus{color:var(--hover);background-size:100% 100%},
i[data-h]:active,
[data-lightbox]{cursor:pointer},
.show--will{transform:var(--show-from);opacity:0;will-change:transform,
.parallax{--parallax-pos:0},
.parallax--box:not(#aux){--parallax-transform:translateY(calc(var(--parallax-pos) * 1px + 7.5cqh));transform:var(--parallax-transform);transform-origin:center;transition:none;z-index:1},
.bg--fix{filter:none},
.bg--fix>.bg-figure .bg-figure-image{position:fixed;top:0},
.container,
.boxes{display:flex;--columns-min:1;--columns-max:var(--columns-min, 1);--columns-gap-min:min(var(--columns-gap-max), 1);--columns-gap-max:calc(clamp(min(1, 2), ((2 - 1) / var(--run)) * (var(--vw) - var(--vw-min)) + 1, max(1, 2)) * 1);--gap-width:calc(clamp(min(var(--columns-gap-min), var(--columns-gap-max)), ((var(--columns-gap-max) - var(--columns-gap-min)) / var(--run)) * (var(--vw) - var(--vw-min)) + var(--columns-gap-min), max(var(--columns-gap-min), var(--columns-gap-max))) * 1em);column-gap:var(--gap-width);--columns-gap-ny:1;--columns-gap-y:calc(var(--gap-width) * var(--columns-gap-ny));row-gap:var(--columns-gap-y)},
.boxes:not(:has(>.bg)){--columns-gap-ny:2},
.container:not([class*=justify]),
.boxes:not([class*=justify]){justify-content:center},
.boxes:not(.slider__items){flex-wrap:wrap},
.container:not(.slider__items)>*,
.boxes:not(.slider__items)>*{flex-shrink:1},
.box,
.slider__items{--columns:calc(clamp(min(var(--columns-min), var(--columns-max)), ((var(--columns-max) - var(--columns-min)) / var(--run)) * (var(--vw) - var(--vw-min)) + var(--columns-min), max(var(--columns-min), var(--columns-max))) * 1);--column-width:calc(100cqw / var(--columns));--gc:calc(var(--gap-width) * (var(--columns) - 1) / var(--columns));--box-w:calc(var(--column-width) - var(--gc));--box-width:var(--box-w);--box-padding:calc(var(--columns-gap-max) * 1em)},
.box{width:var(--box-width,100%)},
@media(min-width:1280px){
.box{order:var(--order,unset)},
}
.box>.box{--columns:1},
.box{container:box/inline-size;position:relative;display:flex;flex-wrap:wrap;max-width:100%;padding:var(--box-padding);--box-inner:calc(100cqw - var(--box-padding) * 2);--box-gap:1rem;gap:var(--box-gap)},
.box.bg{--radius-padding:var(--box-padding)},
.box>*:not(.box,.image){width:100%},
.box:has(>.box__button):not(:has(.box .box__button,>.box__button~.box__button,:is(a,[data-h],[data-b]):not(.box__button))).bg:not(.box--hide-shadow){transition:filter .1s,
.box:has(>.box__button):not(:has(.box .box__button,>.box__button~.box__button,:is(a,[data-h],[data-b]):not(.box__button))).bg:not(.box--hide-shadow).box--button-hide>.bg-color--3d{transform:translateY(.25em);position:absolute;top:0;left:0;width:100%;height:100%;content:'';transition:background-color .1s,
.box:has(>.box__button):not(:has(.box .box__button,>.box__button~.box__button,:is(a,[data-h],[data-b]):not(.box__button))).bg:not(.box--hide-shadow):has(.search__result-item-link:focus),
.box:has(>.box__button):not(:has(.box .box__button,>.box__button~.box__button,:is(a,[data-h],[data-b]):not(.box__button))).bg:not(.box--hide-shadow):hover,
.box:has(>.box__button):not(:has(.box .box__button,>.box__button~.box__button,:is(a,[data-h],[data-b]):not(.box__button))).bg:not(.box--hide-shadow):focus{filter:drop-shadow(.075rem .075rem 0 rgba(0,0,0,.15));transform:translateY(-.125em)},
.box:has(>.box__button):not(:has(.box .box__button,>.box__button~.box__button,:is(a,[data-h],[data-b]):not(.box__button))).bg:not(.box--hide-shadow):has(.search__result-item-link:focus).box--button-hide>.bg-color--3d,
.box:has(>.box__button):not(:has(.box .box__button,>.box__button~.box__button,:is(a,[data-h],[data-b]):not(.box__button))).bg:not(.box--hide-shadow):hover.box--button-hide>.bg-color--3d,
.box:has(>.box__button):not(:has(.box .box__button,>.box__button~.box__button,:is(a,[data-h],[data-b]):not(.box__button))).bg:not(.box--hide-shadow):focus.box--button-hide>.bg-color--3d{transform:translateY(.125em)},
.box:has(>.box__button):not(:has(.box .box__button,>.box__button~.box__button,:is(a,[data-h],[data-b]):not(.box__button))).bg:not(.box--hide-shadow):has(.search__result-item-link:active),
.box:has(>.box__button):not(:has(.box .box__button,>.box__button~.box__button,:is(a,[data-h],[data-b]):not(.box__button))).bg:not(.box--hide-shadow):active{filter:none;transform:none},
.box:has(>.box__button):not(:has(.box .box__button,>.box__button~.box__button,:is(a,[data-h],[data-b]):not(.box__button))).bg:not(.box--hide-shadow):has(.search__result-item-link:active).box--button-hide>.bg-color--3d,
.box:has(>.box__button):not(:has(.box .box__button,>.box__button~.box__button,:is(a,[data-h],[data-b]):not(.box__button))).bg:not(.box--hide-shadow):active.box--button-hide>.bg-color--3d{transform:none},
.box:where(.bg:not(.boxes>*,[class*=box--padding-])){--box-padding:1.00em},
.box--span{--box-span-min:1;--box-span-max:var(--box-span-min, 1);--box-span:calc(clamp(min(var(--box-span-min), var(--box-span-max)), ((var(--box-span-max) - var(--box-span-min)) / var(--run)) * (var(--vw) - var(--vw-min)) + var(--box-span-min), max(var(--box-span-min), var(--box-span-max))) * 1);--box-width:calc(var(--box-w) * var(--box-span) + var(--gap-width) * (var(--box-span) - 1))},
.box--16x9{--box-ratio:9/16},
.box:not(:has(>:is(.image:not(.image--inset),.box__button:not(.hide),.map:is(*,.boxes:last-child>.box:last-child>*)):is(.bg-color+*,.box__title.hide+*))){--radius-padding:0em;--image-inset-padding-radius:0em},
.box__icon{color:var(--base)},
.box__icon--bottom:before,
.box__icon--bottom svg{font-size:2em},
.box__icon--top{display:block;width:var(--icon-size);height:var(--icon-size);color:var(--base);margin:0 auto},
:root{--icon-size:6em},
.box__title>:is(a,[data-h],[data-b]):not(:hover,:focus,:active){color:inherit},
.box__title:has(+.box__icon--bottom) .underline:after{content:none},
.align-center>.box__title{text-align:center},
.container>.box__title{--fhs-pre:calc(clamp(min(0.875, 1.125), ((1.125 - 0.875) / var(--run)) * (var(--vw) - var(--vw-min)) + 0.875, max(0.875, 1.125)) * 1em);--fhs:calc(var(--fhs-pre) * var(--hs, 1) * 1)},
.box__link{color:var(--link);text-decoration:none;cursor:pointer;background-image:linear-gradient(180deg,transparent calc(100% - var(--outline)),var(--link) 0);background-repeat:no-repeat;background-size:0 100%;transition:background-size,
.box__link:hover,
.box__link:active{color:var(--active)},
.box:has(>.box__button):not(:has(.box .box__button,>.box__button~.box__button,:is(a,[data-h],[data-b]):not(.box__button))){cursor:pointer},
.box:has(>.box__button):not(:has(.box .box__button,>.box__button~.box__button,:is(a,[data-h],[data-b]):not(.box__button))):has(.search__result-item-link:focus) .box__link,
.box:has(>.box__button):not(:has(.box .box__button,>.box__button~.box__button,:is(a,[data-h],[data-b]):not(.box__button))):hover .box__link,
.box:has(>.box__button):not(:has(.box .box__button,>.box__button~.box__button,:is(a,[data-h],[data-b]):not(.box__button))):focus .box__link{color:var(--hover);background-size:100% 100%},
.box:has(>.box__button):not(:has(.box .box__button,>.box__button~.box__button,:is(a,[data-h],[data-b]):not(.box__button))):active .box__link{color:var(--active)},
.box__title:not(.hide)+.box__subtitle{margin-top:calc(-1 * var(--box-gap))},
.box__title:not(.hide)+.box__icon--bottom+.box__subtitle{margin-top:calc(-.75 * var(--box-gap))},
.box__description strong{font-size:1em;color:inherit},
.box__button:where(.bg-color+*,.box__title.hide+*){margin-bottom:auto},
.box__button:not(.bg>*){margin-inline:auto},
.box__button:not(.button,button){display:flex;justify-content:center;gap:.25em},
.box__button:not(.button,button) svg{color:var(--main)},
.container--sm{--container-sm:calc(clamp(min(343, 720), ((720 - 343) / var(--run)) * (var(--vw) - var(--vw-min)) + 343, max(343, 720)) * 1px);--container-width:var(--container-sm)},
.container--md{--container-md:calc(clamp(min(343, 960), ((960 - 343) / var(--run)) * (var(--vw) - var(--vw-min)) + 343, max(343, 960)) * 1px);--container-width:var(--container-md)},
.container--lg{--container-lg:calc(clamp(min(343, 1200), ((1200 - 343) / var(--run)) * (var(--vw) - var(--vw-min)) + 343, max(343, 1200)) * 1px);--container-width:var(--container-lg)},
.container.bg:not([class*=box--padding-]){--box-padding:calc(clamp(min(1, 2), ((2 - 1) / var(--run)) * (var(--vw) - var(--vw-min)) + 1, max(1, 2)) * 1em)},
.container.bg:not([class*=box--padding-]).container--lg{--box-padding:calc(clamp(min(1, 3), ((3 - 1) / var(--run)) * (var(--vw) - var(--vw-min)) + 1, max(1, 3)) * 1em)},
.image{position:relative;width:fit-content;margin:0 auto;display:flex;justify-content:center},
.image__inner{clip-path:var(--chamfer);position:relative;max-width:100%;width:auto;height:auto;fill:initial;overflow:hidden},
svg.image__inner{height:100%},
svg.image__inner:not([width]){width:var(--box-inner)},
.image:has(.image__inner--gradient){width:calc(100% - var(--image-margin,0em) * 2)},
.image--2x1 .image__inner,
.image--1x1 .image__inner{width:100%;aspect-ratio:var(--image-ratio)},
.image--16x9 .image__inner img,
.image--1x1{--image-ratio:1},
.image--2x1{--image-ratio:2/1},
.image--border:before{content:'';clip-path:var(--chamfer);position:absolute;top:0;left:0;width:100%;height:100%;background-color:var(--base)},
.image--border .image__inner{--radius-padding:calc(var(--image-border-width) * -1)},
.image--inset{--image-margin:calc(var(--box-padding) * -1);margin:var(--image-margin);--image-inset-block-margin:calc(max(var(--box-padding), 1em) - var(--box-gap));--radius-padding:var(--image-inset-padding-radius)},
.image--inset:not(:where(.bg-color+*,.box__title.hide+*)){margin-top:var(--image-inset-block-margin)},
.image--inset:not(:where(.bg-color+*,.box__title.hide+*)) .image__inner{--radius-top:0em},
.image--inset:not(:last-child,:has(+.box__button.hide:last-child)){margin-bottom:var(--image-inset-block-margin)},
.image--inset:not(:last-child,:has(+.box__button.hide:last-child)) .image__inner{--radius-bottom:0em},
iframe.image__inner{width:var(--box-inner)},
.image--inset iframe.image__inner{width:calc(100cqw + var(--box-padding) * 2)},
.box:not(.bg)>.image:not(.image--border):not(.description *)>.image__inner:where(svg){overflow:unset;clip-path:none},
img[src*=".svg"].image__inner{object-fit:contain},
.ph>.container--fluid>.image>.image__inner{overflow:unset;clip-path:none},
.box:has(>.box__button):not(:has(.box .box__button,>.box__button~.box__button,:is(a,[data-h],[data-b]):not(.box__button)))>.image .image__inner:where(svg),
.box:has(>.box__button):not(:has(.box .box__button,>.box__button~.box__button,:is(a,[data-h],[data-b]):not(.box__button)))>.image .image__inner img{transition:transform .3s},
.box:has(>.box__button):not(:has(.box .box__button,>.box__button~.box__button,:is(a,[data-h],[data-b]):not(.box__button))):has(.search__result-item-link:focus)>.image .image__inner:not(.image__inner--hover):where(svg),
.box:has(>.box__button):not(:has(.box .box__button,>.box__button~.box__button,:is(a,[data-h],[data-b]):not(.box__button))):has(.search__result-item-link:focus)>.image .image__inner:not(.image__inner--hover) img,
.box:has(>.box__button):not(:has(.box .box__button,>.box__button~.box__button,:is(a,[data-h],[data-b]):not(.box__button))):hover>.image .image__inner:not(.image__inner--hover):where(svg),
.box:has(>.box__button):not(:has(.box .box__button,>.box__button~.box__button,:is(a,[data-h],[data-b]):not(.box__button))):hover>.image .image__inner:not(.image__inner--hover) img,
.box:has(>.box__button):not(:has(.box .box__button,>.box__button~.box__button,:is(a,[data-h],[data-b]):not(.box__button))):focus>.image .image__inner:not(.image__inner--hover):where(svg),
.box:has(>.box__button):not(:has(.box .box__button,>.box__button~.box__button,:is(a,[data-h],[data-b]):not(.box__button))):focus>.image .image__inner:not(.image__inner--hover) img{transform:scale(1.2)rotate(2deg)},
.box:has(>.box__button):not(:has(.box .box__button,>.box__button~.box__button,:is(a,[data-h],[data-b]):not(.box__button))):nth-child(2n):has(.search__result-item-link:focus)>.image .image__inner:not(.image__inner--hover):where(svg),
.box:has(>.box__button):not(:has(.box .box__button,>.box__button~.box__button,:is(a,[data-h],[data-b]):not(.box__button))):nth-child(2n):has(.search__result-item-link:focus)>.image .image__inner:not(.image__inner--hover) img,
.box:has(>.box__button):not(:has(.box .box__button,>.box__button~.box__button,:is(a,[data-h],[data-b]):not(.box__button))):nth-child(2n):hover>.image .image__inner:not(.image__inner--hover):where(svg),
.box:has(>.box__button):not(:has(.box .box__button,>.box__button~.box__button,:is(a,[data-h],[data-b]):not(.box__button))):nth-child(2n):hover>.image .image__inner:not(.image__inner--hover) img,
.box:has(>.box__button):not(:has(.box .box__button,>.box__button~.box__button,:is(a,[data-h],[data-b]):not(.box__button))):nth-child(2n):focus>.image .image__inner:not(.image__inner--hover):where(svg),
.box:has(>.box__button):not(:has(.box .box__button,>.box__button~.box__button,:is(a,[data-h],[data-b]):not(.box__button))):nth-child(2n):focus>.image .image__inner:not(.image__inner--hover) img{transform:scale(1.2)rotate(-2deg)},
.slider__track{scroll-snap-type:x mandatory;overflow-x:auto;overflow-y:hidden;--margin-side:min(var(--container-margin-side, -.5em), -.5em);margin:-2em var(--margin-side);padding:2em calc(var(--margin-side) * -1);--mask-sides:linear-gradient(to right, transparent, #000 calc(var(--margin-side) * -1), #000 calc(100% - calc(var(--margin-side)) * -1),transparent);-webkit-mask-image:var(--mask-sides);mask-image:var(--mask-sides);scrollbar-width:none},
.slider__items{display:flex;flex-wrap:nowrap;width:fit-content;margin:0 auto;--aux-side-width:calc((var(--columns) - 1) / 2);padding-inline:calc(var(--box-width) * var(--aux-side-width) + var(--gap-width) * (var(--aux-side-width) - 1) + var(--gap-width))},
.slider__bullet:before{height:.1875em;position:relative},
.slider__bullet:not(#aux):focus{--base:var(--active)},
.slider__bullet:not(#aux):hover,
.slider__bullet:not(#aux):active{filter:none;transform:none},
.slider__arrows{display:flex;justify-content:center;flex-wrap:wrap;gap:1em;margin-top:1em},
.modal{border:none;outline:none;width:100%;height:100%;max-width:100%;max-height:100%;padding-top:3em;padding-bottom:3em;overscroll-behavior:contain;background-color:rgba(0,0,0,.75)},
.modal__back,
.modal__close--corner{left:initial;right:1em},
.modal[open]{display:grid;align-items:center;animation-name:show-dialog;animation-duration:.3s},
.modal[open] .modal__container .buttons:last-child .button--icon{width:2.5em;height:2.5em},
.modal[open].modal--hide{animation-name:hide-dialog},
@keyframes show-dialog{from{opacity:0}to{opacity:1}}
@keyframes hide-dialog{to{opacity:0}}
@keyframes show-container{from{transform:translateY(50lvh)}to{transform:translateY(0)}}
@keyframes hide-container{to{transform:translateY(50lvh)}}
.collapsible__button{font-size:1rem;padding-left:1.125em;padding-right:1.125em;margin:0},
.collapsible__button-icon.collapsible__button-icon--active{transform:rotate(45deg)},
#search__form{margin-top:-2.75em},
#search__input{width:100%},
.share.buttons{margin-top:Max(calc(var(--box-gap) * 3),3em)},
.cookies__messaje svg:not(#aux){margin-right:.25em},
.cookies__checks,
.cookies__wrap{gap:1em},
.cookies__button-acept{flex-shrink:0},
.data:where(.align-left *){justify-content:flex-start},
.data--column{flex-direction:column;align-content:center},
.data__item{display:flex;align-items:center;gap:.5em},
.data__item [data-h]{font-family:montserrat;font-style:normal;font-weight:800;line-height:1.25;font-size:1em},
.data__icon:where(time>*){margin-left:.25em},
#toc li{display:table-row},
#toc li:before{font-family:montserrat;font-style:normal;font-weight:400;line-height:1.25;font-family:montserrat;font-style:normal;font-weight:800;line-height:1.25;font-size:1em;content:counters(item,".")". ";counter-increment:item;display:table-cell;color:var(--link,#fe5f55);padding-right:.25em;padding-top:.75em;white-space:nowrap},
#toc a{font-family:montserrat;font-style:normal;font-weight:400;line-height:1.25;color:inherit},
.align-center #toc{margin-left:auto},
.gallery__item{display:block;width:100%;height:100%;overflow:hidden},
.gallery:not(.gallery--grayscale) .gallery__item:hover>.gallery__image,
.gallery:not(.gallery--grayscale) .gallery__item:focus>.gallery__image,
.gallery:not(.gallery--grayscale) .gallery__item:active>.gallery__image{transform:var(--gallery-image-hover-transform)},
.gallery:not(.gallery--grayscale) .gallery__item:nth-child(2n):hover>.gallery__image,
.gallery:not(.gallery--grayscale) .gallery__item:nth-child(2n):active>.gallery__image{transform:var(--gallery-image-hover-transform-odd)},
.gallery__item{position:relative;transform:none},
.gallery__item:not(#aux):after,
.gallery__item:not(#aux):active,
.gallery__item:not(#aux):focus:after,
.gallery__item:not(#aux):hover:after{background-color:transparent;transform:none;clip-path:none},
.gallery{--gallery-gap:.5em},
.gallery.bg{--radius-padding:var(--gallery-gap);padding:var(--gallery-gap);margin-inline:calc(-1 * var(--gallery-gap))},
.gallery--rows .gallery__items .gallery__item:before{content:'';display:block;padding-bottom:var(--gallery-item-height)},
.gallery--rows .gallery__items .gallery__image>img{position:absolute;top:0;width:100%;vertical-align:bottom},
.steps{list-style:none;padding:0;margin:0 auto;width:fit-content},
.step{display:flex;gap:calc(clamp(min(1,2),((2 - 1)/var(--run)) * (var(--vw) - var(--vw-min)) + 1,max(1,2)) * 1em)},
.step__axis-wrap:after{content:'';display:block;width:var(--outline);height:100%;min-height:2em;background-color:var(--base)},
.step:last-child .step__content{padding-bottom:0},
.step__figure{position:relative;width:100%;height:100%;display:flex;justify-content:center;align-items:center;background-color:var(--main);clip-path:var(--chamfer)},
.step:after,
.step__content .underline:after{margin-left:0},
.step__title,
.step__title+.step__subtitle{margin-top:-1rem},
@media(min-width:768px){
.steps:not(.boxes *) .step:after{content:''},
.steps:not(.boxes *) .step:nth-child(2n+1) .step__content{order:-1;text-align:right},
.steps:not(.boxes *) .step:nth-child(2n+1) .step__content .underline:after{margin-left:auto;margin-right:0},
.steps:not(.boxes *) .step:nth-child(2n+1) .step__content .buttons{justify-content:flex-end},
}
.collapsibles{display:flex;flex-direction:column;gap:1em},
.review{display:flex;flex-direction:column},
.review__globe:after{content:"";display:inline-block;width:0;height:0;border:.75em solid transparent;border-top-color:var(--bg-color);border-bottom:0;position:absolute;bottom:-.75em;left:1.58em},
.review__icon--right{align-self:flex-end},
.review__figure{flex-shrink:0;position:relative;--author-p:.125em;width:4em;height:4em;padding:var(--author-p);--bg-color:var(--main);filter:drop-shadow(.15rem .15rem 0 rgba(0,0,0,.15))},
.review__figure-image{position:absolute;display:block;width:calc(100% - var(--author-p) * 2);height:calc(100% - var(--author-p) * 2);object-fit:cover;background-color:var(--bg-color);clip-path:var(--chamfer)},
.review__person{margin-left:.5em;min-height:4em;display:flex;flex-direction:column;justify-content:center},
.review__subtitle{font-size:.875em;margin-bottom:.25em},
.contact{display:flex;flex-wrap:wrap;justify-content:center;gap:1em;row-gap:1.25em},
.social+.contact{margin-top:var(--box-gap)},
.contact__schedule-item{flex-grow:0;display:flex;align-items:center;justify-content:center;text-align:left},
.contact__schedule svg{font-size:1.5em;color:var(--main)},
.contact__email{position:relative},
.contact__email-options:after{content:'';display:inline-block;width:0;height:0;border:.75em solid transparent;border-top-color:var(--bg-color);border-bottom:0;position:absolute;bottom:-.7em;left:calc(50% - .75em)},
.contact__email-button:focus+.contact__email-options,
visibility 0s step-end},
.contact a,
.contact i:where([data-h],[data-b]){display:inline-flex;align-items:center;gap:.375em;text-align:left},
.contact i:where([data-h],[data-b])>svg{color:var(--main);font-size:1.2em},
.contact>*:not(button,.button){justify-content:center},
.contact>*:not(button,.button):not(.contact__email:has(>button.contact__email-button)){flex-grow:0},
.contact>*>.contact__email-button:not(button,.button){width:auto;display:flex;align-items:center;gap:.375em;text-align:left},
.contact:has(.contact__br~.contact__br){margin-bottom:-2em},
.contact:has(.contact__br~.contact__br~.contact__br~.contact__br){margin-bottom:-4em},
.form{display:flex;flex-wrap:wrap;justify-content:center;gap:1em},
.form__item>*{width:100%},
.form__label--accept{font-size:.75em;gap:1em;text-align:left},
.form__error,
.form__error svg.close,
.form__submit svg.close,
.form__submit{margin-top:1em;padding:1em;background-color:grey},
.form__submit svg.spin,
.form__submit--success{background-color:green},
#search__form~.form{display:none},
.map *{height:100%},
.ph .container--fluid>.map *{clip-path:none},
.kind-404 #header .container .box__icon,
.kind-404 #header .container .box__description p:not(.buttons){animation:awesome-rotate 5s infinite linear alternate-reverse;transform-style:preserve-3d},
.menu__toggle{display:block;position:fixed;right:1em;top:.75em;z-index:220},
.menu__toggle-bar{position:absolute;display:block;height:.25rem;width:calc(100% - 1.25em);margin-left:.125em;margin-top:-.125rem;background-color:currentColor;--radius:0.125rem;clip-path:var(--chamfer);animation:menu-bar-2 .3s 0s both},
.menu__toggle-bar:nth-child(2){animation-timing-function:step-start},
.menu__backover{position:absolute;top:0;left:0;width:100%;height:100%;position:fixed;background:rgba(40,37,37,.5);opacity:0;transform:scale(0);transition:transform 0s .4s,
:root{--menu-py:0em},
.menu__active{overflow:hidden},
.menu__active .menu__toggle-bar:nth-child(1){animation-name:menu-bar-active-1},
.menu__active .menu__backover{opacity:1;transform:scale(1);transition:transform 0s,
.menu__active .menu{transform:translateX(0%)},
.menu__items .menu__link{color:var(--link);text-decoration:none;cursor:pointer;background-image:linear-gradient(180deg,transparent calc(100% - var(--outline)),var(--link) 0);background-repeat:no-repeat;background-size:0 100%;transition:background-size,
.menu__items .menu__link:hover,
.menu__items .menu__link:active{color:var(--active)},
.menu__items .menu__items>.menu__item{width:100%},
.menu__subitems:empty{display:none},
.menu__item--subitems>.menu__subitems{max-height:0},
.menu__active .menu__item--subitems>.menu__subitems,
.menu__item--subitems:hover>.menu__subitems{transform:none;max-height:200lvh;padding-bottom:1em},
.menu__logo-image,
.menu__link>svg{color:var(--main);font-size:1.25em;flex-shrink:0;margin:.15em 0},
.body-menu--sticky--active .menu__items>.menu__item--lang>.menu__link>i{display:none},
body:not(.body-menu--sticky--active) .menu .container{width:auto;flex-direction:column},
.body-menu--sticky--active .menu__toggle{display:none},
.body-menu--sticky--active .menu .menu__title{display:none},
.body-menu--sticky--active .menu .menu__item--subitems:focus>.menu__link>svg,
.body-menu--sticky--active .menu .menu__item--subitems:hover>.menu__link>svg{transform:rotate(45deg)},
.body-menu--sticky--active .menu .menu__item--subitems:last-child .menu__subitems{right:0},
.body-menu--sticky--active .menu .menu__logo-image,
.body-menu--sticky--active .menu .menu__link>svg{font-size:1em},
.body-menu--sticky--active .menu .menu__subitems:not(.menu__subitems *){position:absolute;top:100%;margin:0;margin-right:0;padding-inline:1em;background-color:var(--bg-color);clip-path:var(--chamfer);--radius-top:0em;--radius-padding:1em},
.body-menu--sticky--active .menu .menu__subitems:not(.menu__subitems *) .menu__item{padding:0},
.body-menu--sticky--active .menu .menu__subitems:not(.menu__subitems *) .menu__button{margin:.5em 0},
.body-menu--sticky--active .menu .menu__subitems:not(.menu__subitems *) .menu__item:last-child>.menu__button{margin-bottom:0},
.body-menu--sticky--active .menu .menu__item .menu__subitems .menu__subitems{padding-bottom:0},
.body-menu--sticky--active .menu .menu__item:focus>.menu__subitems,
.body-menu--sticky--active.body-menu--transparent .menu{position:fixed},
.body-menu--sticky--active.body-top .menu .menu__subitems .menu__items{padding-block:0},
.body-menu--sticky--active.body-top.body-menu--transparent .menu{background-color:transparent;filter:none},
.body-menu--logo:not(.body-menu--sticky--active){--menu-py:.75em},
.body-menu--logo:not(.body-menu--sticky--active) .menu__toggle{top:.375em;transition:top .3s,
.body-menu--logo:not(.body-menu--sticky--active) .logo{top:0;width:100%;padding-block:var(--menu-py);transition:background-color .3s,
.body-menu--logo:not(.body-menu--sticky--active) .logo.bg{background-color:var(--bg-color)},
.body-menu--logo:not(.body-menu--sticky--active) .logo .container{justify-content:flex-start},
.body-menu--logo:not(.body-menu--sticky--active) .logo__link{display:flex;justify-content:flex-start;align-items:center;gap:1em;z-index:1;position:relative;height:2.25em;--margin-toggle-right:calc(clamp(min(4, 0), ((0 - 4) / var(--run)) * (var(--vw) - var(--vw-min)) + 4, max(4, 0)) * 1em);max-width:calc(100% - var(--margin-toggle-right,4em))},
@media(min-width:540px){
}
.body-menu--logo:not(.body-menu--sticky--active) .logo__link:is(.container.align-center *){justify-content:center},
.body-menu--logo:not(.body-menu--sticky--active) .logo__image{flex-shrink:0;transition:height .3s},
.body-menu--logo:not(.body-menu--sticky--active) .logo__image,
.body-menu--logo:not(.body-menu--sticky--active) .logo__image img{display:block;width:auto;max-width:100%;max-height:4em;height:100%;fill:unset},
.body-menu--logo:not(.body-menu--sticky--active) .logo__title{color:var(--title)},
.body-menu--logo:not(.body-menu--sticky--active) .logo__title+.logo__subtitle{margin-top:-1.25em},
.body-menu--logo:not(.body-menu--sticky--active) .logo__subtitle{display:block;font-size:1.2em;color:var(--subtitle)},
.body-menu--logo:not(.body-menu--sticky--active).body-menu--transparent:not(.body-menu--logo--sticky){--menu-py:2.25em},
.body-menu--logo:not(.body-menu--sticky--active).body-top .logo__image,
.body-menu--logo:not(.body-menu--sticky--active).body-menu--transparent:not(.body-menu--logo--sticky) .logo__image{height:4em},
.body-menu--logo:not(.body-menu--sticky--active).body-top .logo__titles,
.body-menu--logo:not(.body-menu--sticky--active).body-menu--transparent:not(.body-menu--logo--sticky) .logo__titles{font-size:1em},
.body-menu--logo:not(.body-menu--sticky--active).body-menu--transparent:not(.body-menu--logo--sticky) .menu__toggle{top:1.875em},
.body-menu--logo:not(.body-menu--sticky--active):not(.body-menu--logo--sticky) .logo{position:sticky},
.body-menu--logo:not(.body-menu--sticky--active):not(.body-menu--transparent) .logo{transition:padding .3s},
.body-menu--logo:not(.body-menu--sticky--active):not(.body-menu--transparent,.body-menu--logo--sticky) .logo{position:relative},
.body-menu--logo:not(.body-menu--sticky--active).body-menu--transparent .logo__image{transition:height .3s},
.body-menu--logo:not(.body-menu--sticky--active).body-menu--transparent:not(.body-menu--logo--sticky) .logo{position:absolute;background-color:transparent;filter:none},
.section{display:flex;align-items:center;padding-top:calc(var(--pt,0px) + var(--pt-divider,0px));padding-bottom:calc(var(--pb,0px) + var(--pb-divider,0px))},
.section>.bg-figure{clip-path:inset(0)},
.section--header{--pt-divider:var(--pt-divider-header)},
.body-menu:not(.body-menu--transparent){--menu-height:0em;--pt-extra:2em},
.body-menu:not(.body-menu--transparent).body-menu--logo{--menu-height:6.75em;--pt-divider-header:0em},
.body-menu--transparent{--full-height-section:100lvh;--menu-height:0em;--pt-extra:2em},
body:not(.body-menu).body-menu--logo,
.body-menu--sticky--active .body-menu:not(.aux):not(.aux){--menu-height:6.8em;--pt-extra:0em},
.body-menu--sticky--active .body-menu:not(.body-menu--transparent){--pt-divider-header:0em},
.ph.section .container{margin:auto},
.ph .container--fluid{padding:0;--container-width-base:100%},
.ph .box__title,
.ph .box__subtitle{position:absolute;top:0;left:0;width:100%;height:100%;text-indent:-1000vw;z-index:-1},
.ph .gallery,
.ph .gallery__item,
.ph .boxes>.box:last-child>.buttons{margin:0;height:0;width:100%;transform:translateY(-8em);position:relative;z-index:60},
.section--footer a:not(:hover,button,.button),
.section--footer [data-h]:not(:hover,button,.button),
.section--footer [data-b]:not(:hover,button,.button){color:inherit},
.section--footer [data-h]:not(#aux),
.footer__float{position:absolute;bottom:1.5em;left:50%;transform:translateX(-50%);display:flex;gap:1em;opacity:.75},
.footer__float>*:is(i,a)>svg{color:inherit},
@media print{
.menu,
.cookies{display:none},
}
#body-inicio #header .box__title{animation:show-from .5s .75s both},
#body-inicio #header .description p{animation:show-from .5s 1.25s both},