// Header 
@mixin show-from($delay) {
  animation: show-from .5s (.25 + .125s * $delay) both;
}
#body-home #header {
  overflow: hidden;
  .img        { @include show-from(0); --show-from: scale(3); }
  .box__title { @include show-from(1); }
  .sub        { @include show-from(2); }
  .md p       { @include show-from(3); }
  .md .btns   { @include show-from(4); }
}
